<button (click)="onClick()">Display Details!</button>
<p *ngIf="showOrHide">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, soluta nobis
  voluptatum corporis dicta magnam maxime doloremque voluptate aspernatur modi
  enim reprehenderit minima consequuntur laboriosam id fuga ex blanditiis harum!
</p>

<p
  *ngFor="let x of log , let i = index"
  [ngStyle]="{'background-color' : x > 4 ? 'green' : 'transparent' , 
              'font-size' : '2rem'
             }"
  [ngClass]="x > 4 ? 'special': ''"
>
  {{i + 1}}. Hello World
</p>
